/.*
*#
*-tikzDictionary
*.demux.*
*.blast
*.groups
nohup.out
rackham-*.png
raw_data
sequences
core.*
ccs_report.txt
*.temp
ITSx_temp*
Rtmp*
private
snowy-*.png
drake.Rdata
data/pasta
temp
cm
logs
.Rproj.user
