.Rproj.user
.Rhistory
.RData
.Ruserdata
*#
*.Rout
*-tikzDictionary
*.demux.*
*.blast
*.groups
demux.make
slurm-*.out
make.log
packrat/lib*/
.drake
nohup.out
rackham-*.png
raw_data
sequences
.packrat
core.*
ccs_report.txt
*.temp
meta?.rds
plan.rds
ITSx_temp*
Rtmp*
.future

private
snowy-*.png
