*.fasta
*.LSU.fasta.gz
*.ITS.fasta.gz
*.ITS2.fasta.gz
*.ITS1.fasta.gz
*.sintax.fasta.gz
*.dada2.fasta.gz
*_problems*.csv
Tedersoo_Eukarya_classification.xlsx
rdp_train.taxa.txt
rdp_train.fasta.gz
rdp_train.raw.fasta.gz
warcup.taxa.txt
unite.fasta.gz
warcup.fasta.gz
